body{
    background-color: rgb(206, 206, 206);
    font-family: 'Assistant', sans-serif;
    color:#071C4D;
}

// Navbar
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071C4D;

            &.active{
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.navbar-brand{
    img{
        max-height: 40px;
    }
}

.btn-login{
    background-color: #071C4D;
    color: white;

    &:hover{
        background-color: #1E3771;
        color: white;
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

// Header
header{
    margin-top:-68px;
    padding: 180px 0px 87px 0px;
    background-image: url('../images/background/header.jpg');
    background-size: cover;
    min-height: 100vh;

    h1{
        font-family: 'Playfair Display', sans-serif; 
        font-weight: bold;
        font-size: 50px;
    }

    p{
        font-size: 22px;
    }
}

.btn-get-started{
    background-color: #FF9E53;
    color: white;

    &:hover{
        background-color: #FFAA69;
        color: white;
    }
}