body{
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color:#071C4D;
}

// Navbar
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071C4D;

            &.active{
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.navbar-brand{
    img{
        max-height: 40px;
    }
}

.btn-login{
    background-color: #071C4D;
    color: white;

    &:hover{
        background-color: #1E3771;
        color: white;
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -16px !important;
    height: 70px;
    border-radius: 0;
}

// Header
header{
    margin-top:-68px;
    padding: 180px 0px 120px;
    background-image: url('../images/background/header.jpg');
    background-size: cover;

    h1{
        font-family: 'Playfair Display', sans-serif; 
        font-weight: bold;
        font-size: 50px;
    }

    p{
        font-size: 22px;
    }
}

.btn-get-started{
    background-color: #FF9E53;
    color: white;

    &:hover{
        background-color: #FFAA69;
        color: white;
    }
}

// Statistic
.section-stats{
    margin-top:-50px;

    .stats-detail{
        padding-top: 15px;
        background-color: white;
        padding-left: 40px;
    }

    h2{
        font-size: 30px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    p{
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
.section-popular{
    min-height: 540px;
    background-color: #071C4D;
    margin-top: -47px;
    margin-bottom: -230px;

    .section-popular-heading{
        margin-top: 150px;
        color: white;
    }

    h2{
        font-family: 'Playfair Display', sans-serif; 
        font-weight: bold;
        margin-bottom: 14px;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }
}

// Popular Content
.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 350px;
            background-color: black;
            color: white;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
            position: relative;

            &::before{
                content: ' ';
                height: 350px;
                width: 100%;
                position: absolute;
                top:0;
                left: 0;
                background-image: linear-gradient(black,transparent);
                opacity: .7;

            }
        }

        .travel-country{
            font-size: 18px;
            color:white;
            z-index: 2;
        }

        .travel-location{
            font-size: 26px;
            color:white;
            z-index: 2;
        }

        .travel-button{
            .btn-travel-details{
                background-color: #FF9E53;
                color: white;
                z-index: 2;

                &:hover{
                    background-color: #FFAA69;
                    color: white;
                }
            }
        }
    }
}

// Network
.section-networks{
    background-color: white;
    margin-top: -170px;
    padding-top: 270px;
    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', sans-serif; 
        font-weight: bold;
        margin-bottom: 14px;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }

    img{
        max-width: 100%;
    }
}

